{{ 'product-navigation.css' | asset_url | stylesheet_tag }}
{{ 'customer-navigation.css' | asset_url | stylesheet_tag }}
{{ 'product-navigation.js' | asset_url | script_tag }}

<div class="customer-navigation__wrapper">
  <div class="product-navigation customer-navigation">
    <div class="page-width">
      {% render 'customer-navigation-ul' %}
    </div>
  </div>
</div>

<product-navigation data-scroll-to-active="false"></product-navigation>