<div id="{{ section.settings.id }}"></div>

{% schema %}
{
  "name": "Jumpmark",
  "tag": "section",
  "class": "visually-hidden",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "ID"
    }
  ],
  "presets": [
    {
      "name": "Jumpmark"
    }
  ]
}
  {% endschema %}
