.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.6rem 0;
  padding-right: 4rem;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

details[open] .icon-plus,
details .icon-minus {
  display: none;
}

details[open] .icon-minus {
  display: block;
}

.accordion__content {
  margin-bottom: 3.2rem;
  word-break: break-word;
  overflow-x: auto;
}

.accordion__content img {
  max-width: 100%;
}

.collapsible-content input[type="radio"] {
  display: none;
}

.collapsible-content__nav {
  display: flex;
  margin-bottom: 2.1rem;
  overflow-x: scroll;
}

.collapsible-content__nav label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.15rem 1.6rem;
  white-space: nowrap;
  
  border-radius: 1.6rem;

  color: #464646;
  font-weight: 700;

  font-size: 1.8rem;
  line-height: 2.5rem;

  cursor: pointer;
}

.collapsible-content__nav label.active {
  background: #ECF3DD;
}

.collapsible-content__nav label:not(:last-child) {
  margin-right: 2rem;
}

@media screen and (min-width: 1200px) {
  .collapsible-content__nav {
    overflow-x: hidden;
  }

  .collapsible-content__nav label {
    padding: 1.2rem 2.4rem;
    font-size: 2rem;
    line-height: 2.4rem;
    flex-grow: 1;
    justify-content: center;
  }

  .collapsible-content__nav label:not(:last-child) {
    margin-right: 3.2rem;
  }
}