.product-navigation {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border-bottom: 1px solid #DCDCDC;
  background: #fff;
  padding: 1.6rem 0;
  z-index: 100;
}

.product-navigation--sticky {
  position: fixed;
  top: 0;
}

.product-navigation ul {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  padding: 0;
  margin: 0;
}

.product-navigation li {
  list-style: none;
  margin-right: 1.2rem;
  padding: 0.8rem 1.2rem;
}

.product-navigation li a {
  color: #464646;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.product-navigation li.product-navigation__item--active {
  background-color: #196428;
  border-radius: 8px;
}

.product-navigation li.product-navigation__item--active a {
  color: #fff;
}

@media screen and (min-width: 990px) {
  .product-navigation ul {
    overflow-x: initial;
  }
}